$white: #fff;
$white2: #dedede;
$graylight: #828282;
$gray: #474747;
$graydark: #303030;
$darklight: linear-gradient(28.1deg, #1c1c1e 38.39%, #2c2c2f 88.97%);
$dark: #1c1c1e;
$dark2: #181818;
$red: #ff5a5a;
$reddark: #592e30;
$yellow: #eed618;
$green: #3ecd6f;
$greendark: #274835;

// widthes
$lr: 992px;
$md: 768px;
$sm: 576px;
